html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#form {
  text-align: center;
  margin: 0 auto;
}

#form h1 {
  font-size: 2em;
}

#content {
  margin-top: 20px;
  font-size: 2em;
  text-align: center;
}

#display {
    background-color: #9147ff;  
    height: 50px;
    color: lightgrey;
    text-align: center;
    margin: 20px auto;
    font-size: 2em;
}
    
input {
    width: 300px;
}